<section class="m-project-intro">
	<div class="m-container">
		<h1 class="m-project-intro__title e-animate" data-animation="fade-in" data-delay="0">Emerce</h1>
		<p class="m-project-intro__paragraph e-animate" data-animation="fade-in" data-delay="0">
			Emerce is a Dutch platform focussing on the latest tech and marketing news. Besides being the biggest platform regarding technology and marketing, they host events to keep you updated about the latest news.
		</p>

		<p class="m-project-intro__paragraph e-animate" data-animation="fade-in" data-delay="0">The following front-end tools have been used: gulp as package manager, scss for styling, Vanilla Javascript for lazy-loading and fade-in effects</p>
	</div>
</section>

<div class="m-container">
	<section class="m-project-section e-animate" data-animation="fade-in" data-delay="1000">
		<div class="m-project-section__content-wrap">
			<div class="m-project-section__content">
				<div class="m-project-section__image-wrap">
					<button class="m-project-section__button">
						<svg class="m-project-section__svg">
							<use xlink:href="/assets/svg-sprite/svg-sprite.svg#icon-tap"></use>
						</svg>
					</button>
					<img class="m-project-section__image" src="/assets/img/emerce/emerce-nl.jpg"></figure>
				</div>
			</div>

			<div class="m-project-section__content m-project-section__content--text">
				<h2 class="m-project-section__title">Emerce Insights</h2>
				<div class="m-project-section__text">
					<p>Is one of the newest sections of Emerce. Insights is a place where writers can show their knowledge and get fresh insights on topics.</p>

					<a class="e-button-primary" href="http://www.emerce.nl/artikelen">
						<span>View Emerce</span>
					</a>
				</div>
			</div>
		</div>
	</section>

	<section class="m-project-section e-animate" data-animation="fade-in" data-delay="1000">
		<div class="m-project-section__content-wrap">
			<div class="m-project-section__content">
				<div class="m-project-section__image-wrap">
					<button class="m-project-section__button">
						<svg class="m-project-section__svg" data-fill="white">
							<use xlink:href="/assets/svg-sprite/svg-sprite.svg#icon-tap"></use>
						</svg>
					</button>
					<img class="m-project-section__image" src="/assets/img/emerce/emerceeday.jpg"></figure>
				</div>
			</div>

			<div class="m-project-section__content m-project-section__content--text">
				<h2 class="m-project-section__title">Emerce eDay</h2>
				<div class="m-project-section__text">
					<p>Emerce eDay is one of the many events Emerce organises on a yearly base. This year they decided to make a new website for this event.</p>

					<a class="e-button-primary" href="http://www.emerceeday.nl">
						<span>View Emerce eDay</span>
					</a>
				</div>
			</div>
		</div>
	</section>

</div>