/*
  colors
*/
$black: #222222;
$white: #fff;

// $c-primary: #242ceb;
// $c-secondary: #8186f4;


$c-primary: #2c3e50;
$c-secondary: #4a6887;

$c-grey-1: #6C7A89;
$c-grey-2: #D2D7D3;

/*
  breakpoints
*/
$bp-mobile: 480;
$bp-tablet: 768;
$bp-laptop: 970;
$bp-desktop: 1280;
$bp-desktop-large: 1366;
$bp-desktop-xlarge: 1420;

/*
  fonts
*/
$f-header: 'RobotoBlack', sans-serif;
$f-body: 'OpenSansRegular', sans-serif;
/*
  speeds
*/
$s-fast: 125ms;
$s-slow: 2s;


/**
 *
 * One EPIC transition timing function
 */
$bassieSlide: cubic-bezier(0.25, 0.6, 0.35, 1);
