.m-about-content{
  padding: 64px 0px 0px 0px;

  @include breakpoint($bp-laptop){
    padding: 120px 0px 0px 0px;
  }

  &__title{
    font-size: 46px;
    margin: 0px 0px 18px;

    @include breakpoint($bp-tablet){
      font-size: 52px;
    }
  }

  &__subtitle{
    font-size: 16px;
    text-transform: uppercase;
    margin: 0px 0px 6px 0px;

    &:not(:first-child){
      margin: 64px 0px 6px 0px;

      @include breakpoint($bp-laptop){
        margin: 120px 0px 6px;
      }
    }
  }

  &__content{

    @include breakpoint($bp-laptop){
      width: 75%;
    }

    p{
      margin: 0px 0px 20px 0px;

      color: rgba($black, .8);
      font-size: 16px;
      line-height: 22px;

      @include breakpoint($bp-tablet){
        font-size: 21px;
        line-height: 32px;
      }
    }

    &:after{
      content: '';
      clear: both;
      display: table;
    }
  }
}
