.m-cv-details{
	padding: 0px 0px 48px 0px;

	&__title{
		margin: 0px 0px 6px 0px;
	}

	&__list{

		&:after{
			content: '';
			clear: both;
			display: table;
		}

		a{
			color: #4183D7;
			transition: opacity $s-fast ease;

			&:hover{
				opacity: .7;
			}

			svg{
				opacity: .7;
			}
		}

		li{
			float: left;
			margin: 0px 0px 6px 0px;

			@include breakpoint($bp-tablet){
				margin: 0px 24px 0px 0px;
			}

			svg{
				width: 20px;
				height: 20px;
				float: left;
				margin: 0px 6px 0px 0px;
				transition: opacity $s-fast ease;
			}

			
			&:last-child{
				margin: 0;
			}
		}
	}
}