.m-cv-header{
	padding: 24px 0px;

	&:after{
	  content: '';
	  height: 2px;
	  width: 100%;
	  display: block;
	  margin: 24px 0px 0px 0px;
	  @include linear-gradient(-45deg, #4183D7, #19B5FE, #9B59B6);
	}

	&__title{
		font-size: 18px;
		margin: 0px 0px 4px 0px;

		@include breakpoint($bp-tablet){
			font-size: 32px;
		}
	}

	&__subtitle{
		font-size: 14px;

		@include breakpoint($bp-tablet){
			font-size: 26px;
		}
	}
}