.m-project-intro{
	padding: 64px 0px 48px 0px;

	@include breakpoint($bp-laptop){
		padding: 120px 0px 64px 0px;
	}

	&__title{
		font-size: 46px;
		margin: 0px 0px 18px;

		@include breakpoint($bp-tablet){
		  font-size: 52px;
		}
	}

	&__paragraph{
	  margin: 0px 0px 20px 0px;

	  color: rgba($black, .8);
	  font-size: 16px;
	  line-height: 22px;

	  @include breakpoint($bp-tablet){
	    font-size: 21px;
	    line-height: 32px;
	  }

	  @include breakpoint($bp-laptop){
	    width: 80%;
	  }

	  &:last-child{
	    margin: 0;
	  }
	}
}