.m-project-intro{
	padding: 64px 0px 48px 0px;

	@include breakpoint($bp-laptop){
		padding: 120px 0px 64px 0px;
	}

	&__title{
		font-size: 46px;
		margin: 0px 0px 18px;

		@include breakpoint($bp-mobile){
		  font-size: 52px;
		}
	}

	&__paragraph{
	  margin: 0px 0px 20px 0px;

	  &:last-child{
	    margin: 0;
	  }

	  @include breakpoint($bp-laptop){
	    width: 80%;
	  }
	}
}