.m-social-list{
  height: 50px;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 22px;
  background: white;
  z-index: 9;
  display: flex;

  @include breakpoint($bp-laptop){
    height: 78px;
  }

  &__item{
    margin: 0px 18px 0px 0px;

    &:last-child{
      margin: 0px;
    }
  }

  &__anchor{
    height: 100%;
    display: block;
    text-align: center;
    color: $c-primary;
    line-height: auto;

    &.linkedin:hover{

      svg{
        fill: #0077b5;
      }
    }

    &.github:hover{

      svg{
        fill: black;
      }
    }
  }

  &__svg{
    width: 20px;
    height: 20px;
    fill: $c-primary;
    transition: fill $s-fast ease;
  }

  &__span{
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    font-family: 'OpenSansSemiBold';
    display: none;

    @include breakpoint($bp-laptop){
      display: block;
      margin: 4px 0px 0px 0px;
    }
  }
}
