.m-work-intro{
  padding: 64px 0px 0px 0px;
  width: 100%;

  @include breakpoint($bp-laptop){
    padding: 120px 0px 0px 0px;
  }

  &__paragraph{
    margin: 0px 0px 20px 0px;

    &:last-child{
      margin: 0;
    }

    @include breakpoint($bp-laptop){
      width: 80%;
    }
  }
}
