<main class="m-main-content">

  <section class="m-intro">

    <div class="m-container">
      <h1 class="m-intro__title e-animate" data-animation="fade-in" data-delay="0">Hi.</h1>

      <p class="m-intro__paragraph e-animate" data-animation="fade-in" data-delay="0">
        My name is <strong>Diederik Eenschooten</strong> and I am a front-end developer based in Utrecht, the Netherlands. At the moment I'm employed by <a target="blank" href="https://www.superinteractive.com">Super Interactive</a> where I'm working on epic projects like <a target="_blank" href="https://www.emerce.nl">Emerce</a>, <a target="_blank" href="https://www.makelaarsland.nl">Makelaarsland</a> and <a target="_blank" href="https://www.d66.nl">D66</a>.
      </p>


      <p class="m-intro__paragraph e-animate" data-animation="fade-in" data-delay="150">
        Things I love about being a <strong>Front-end developer</strong> is being able to help users get the best experience possible. It's all about brainstorming with the designer to get the <strong>UX</strong> right and bring the designs to live with subtle animations and gestures.

      </p>

      <div class="m-intro__buttons">

        <a href="/about" class="e-button-primary e-animate" data-animation="fade-in" data-delay="200">
          <span>Get to know me</span>
        </a>
        <a href="mailto:diederikeen@gmail.com" class="e-button-secondary e-animate" data-animation="fade-in" data-delay="250">
          <span>Drop me an e-mail</span>
        </a>
      </div>
    </div>
  </section>
</main>

