<section class="m-about-content">

  <div class="m-container">
    <div class="m-about-content__content">
      <h2 class="m-about-content__title">My story</h2>
      <p>
        Front-end development started for me when I drew my first red rectangle on a white document as a 16 year old guy. Funny he? Not even a <strong>Hello world!</strong>.
      </p>

      <p>While I studied Interaction Design my curiousity for HMTL and just simple CSS (and I'm not even that old) started to grow on me. I discovered the possibilities of what the web could bring.</p>

      <p>At the age of  19 I followed my first internship at a company at Label A, where I started my internship as a designer (Just in case if you're curious here's my <a target="_blank" href="https://dribbble.com/diederikeen">dribbble</a>). But I soon discovered that <strong>Front-end</strong> was more my area.</p>

      <p>After having two 6-month internships at Label A they decided to keep me around. Two contracts later, I decided I was ready for some change. Which led me to where I am today, <a target="_blank" href="http://www.superinteractive.com">Super Interactive</a> </p>

      <h2 class="m-about-content__title">My skillset</h2>

      <p>Now you're probably wondering, what can a guy like me do?</p> 

      <p>After I've installed all my necessary packages with Gulp, I build my static HTML files in a BEM structure. Are you not fammiliar with BEM? Check it out <a target="_blank" href="http://getbem.com/introduction/">here</a>. This allows me structure not only my HTML but also my SCSS.</p> 

      <p>For more advanced projects (webapps) I use React in combination with Redux to store the applictation's state.</p>

      <p>And once it's all done I keep my code safe on github. Are you curious about the code of this website? <a target="_blank" href="https://github.com/diederikeen/portfolio">Check it out</a>.</p>
    </div>
  </div>
</section>
