<section class="m-project-intro">
  <div class="m-container">
    <h1 class="m-project-intro__title e-animate" data-animation="fade-in" data-delay="0">Makelaarsland</h1>
    <p class="m-project-intro__paragraph e-animate" data-animation="fade-in" data-delay="0">
      Makelaarsland is a Dutch online broker which offers a fixed price, so it's not depending on your house price, for their service. Because of this unique concept they have a solid position in the dutch broker world.
    </p>

    <p class="m-project-intro__paragraph e-animate" data-animation="fade-in" data-delay="0">
        After putting your house on Makelaarsland they offer several packages to help you sell your house to your likings.
    </p>
  </div>
</section>

<div class="m-container">
  <section class="m-project-section e-animate" data-animation="fade-in" data-delay="1000">
    <div class="m-project-section__content-wrap">
      <div class="m-project-section__content">
        <div class="m-project-section__image-wrap">
          <button class="m-project-section__button">
            <svg class="m-project-section__svg" data-fill="white">
              <use xlink:href="/assets/svg-sprite/svg-sprite.svg#icon-tap"></use>
            </svg>
          </button>
          <img class="m-project-section__image" src="/assets/img/makelaarsland/makelaarsland.jpg"></figure>
        </div>
      </div>

      <div class="m-project-section__content m-project-section__content--text">
        <h2 class="m-project-section__title">Makelaarsland</h2>
        <div class="m-project-section__text">
          <p>Check out there website here! But don't accidently sell your house...</p>

          <a class="e-button-primary" href="http://www.makelaarsland.nl" target="_blank">
            <span>View Makelaarsland</span>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>