<section class="m-about-content">

  <div class="m-container">
    <h1 class="m-about-content__title e-animate" data-animation="fade-in" data-delay="0">So my story...</h1>
    <div class="m-about-content__content">
      <p class="e-animate" data-animation="fade-in" data-delay="0">
        Front-end development started for me when I drew my first red rectangle on a white document as a 16 year old guy. Funny, he? Not even a <strong>Hello world!</strong>.
      </p>

      <p class="e-animate" data-animation="fade-in" data-delay="0">While I studied Interaction Design my curiosity for HTML and just simple CSS (and I'm not even that old) started to grow on me. I discovered the possibilities of what the web could bring.</p>

      <p class="e-animate" data-animation="fade-in" data-delay="0">At the age of  19 I followed my first internship at a company called Label A, where I started my internship as a <a target="_blank" href="https://dribbble.com/diederikeen" title="Check out my dribbble page">designer</a>. But I soon discovered that <strong>Front-end</strong> was more my area.</p>

      <p class="e-animate" data-animation="fade-in" data-delay="0">After having two 6-month internships at Label A they decided to keep me around. Two contracts later, I decided I was ready for some change. Which led me to where I am today, at <a target="_blank" href="http://www.superinteractive.com">Super Interactive</a> </p>

      <h2 class="m-about-content__subtitle e-animate" data-animation="fade-in" data-delay="100">My skillset</h2>

      <p class="e-animate" data-animation="fade-in" data-delay="100">Now you're probably wondering, what can a guy like me do?</p> 

      <p class="e-animate" data-animation="fade-in" data-delay="100">
        After I've installed the necessary packages with Yarn, I build my static HTML files in a <a target="_blank" href="http://getbem.com/introduction/" title="See what BEM is all about">BEM</a> structure. This allows me to structure not only my markup but also my styles, which keeps everything organised and neat.

      <p class="e-animate" data-animation="fade-in" data-delay="100">For more advanced projects (webapps) I use React with a variety of tools from the React ecosystem.</p>

      <p class="e-animate" data-animation="fade-in" data-delay="100">And once it's all done I keep my code safe on github. Are you curious about the code of this website? <a target="_blank" href="https://github.com/diederikeen/portfolio">Check the code out here</a>.</p>
    </div>
  </div>

  <div class="m-profile-picture">
    <img src="/assets/img/diederik.png">
  </div>
</section>
