<section class="m-work">
  <div class="m-container">
    <ul class="m-work-list">
      <li class="m-work-list__item e-animate" data-animation="fade-in" data-delay="1000">
        <a href="./emerce" class="m-work-list__anchor">
          <h2 class="e-animate m-work-list__title" data-animation="fade-in-up" data-delay="1000">Emerce eDay</h2>

          <div class="e-animate" data-animation="fade-in-up" data-delay="1100">
            <p class="m-work-list__description">
              Emerce is a Dutch platform focussing on the latest tech and marketing news.
            </p>
          </div>

          <svg class="m-work-list__svg">
            <use xlink:href="/assets/svg-sprite/svg-sprite.svg#icon-arrow"></use>
          </svg>
        </a>
      </li>

      <li class="m-work-list__item e-animate construction" data-animation="fade-in" data-delay="1000">
        <a href="#" class="m-work-list__anchor">
          <h2 class="e-animate m-work-list__title" data-animation="fade-in-up" data-delay="1000">Makelaarsland</h2>

          <div class="e-animate" data-animation="fade-in-up" data-delay="1100">
            <p class="m-work-list__description">
              Makelaarsland is an online real estate company that offers a low fixed price for selling your house.
            </p>
          </div>
          <svg class="m-work-list__svg">
            <use xlink:href="/assets/svg-sprite/svg-sprite.svg#icon-arrow"></use>
          </svg>
        </a>
      </li>

      <li class="m-work-list__item e-animate construction" data-animation="fade-in" data-delay="1000">
        <a href="#" class="m-work-list__anchor">
          <h2 class="e-animate m-work-list__title" data-animation="fade-in-up" data-delay="1000">D66</h2>

          <div class="e-animate" data-animation="fade-in-up" data-delay="1100">
            <p class="m-work-list__description">
              D66 is a Dutch political democrat party. Maintaning and adding new features is a everyday business.
            </p>
          </div>
          <svg class="m-work-list__svg">
            <use xlink:href="/assets/svg-sprite/svg-sprite.svg#icon-arrow"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
