<section class="m-cv">
	<header class="m-cv-header">
	<div class="m-container">
		<h1 class="m-cv-header__title">Diederik Eenschooten</h1>
		<h2 class="m-cv-header__subtitle">Front-end Developer</h2>

		<div class="m-cv-header__image-wrap">
			<figure class="m-cv-header__image" style="background-image: url(/assets/img/diederik.png)"></figure>
		</div>
	</div>
</header>
	<section class="m-cv-details">
	<div class="m-container">
		<h4 class="m-cv-details__title">Contact</h4>
		<ul class="m-cv-details__list">
			<li>
				<a href="tel:+31610604840">
					<svg>
						<use xlink:href="/assets/svg-sprite/svg-sprite.svg#icon-phone"></use>
					</svg>
					06 — 10 60 48 40
				</a>
			</li>
			<li>
				<a href="mailto:diederikeen@gmail.com">
					<svg>
						<use xlink:href="/assets/svg-sprite/svg-sprite.svg#icon-email"></use>
					</svg>
					diederikeen@gmail.com
				</a>
			</li>
		</ul>
	</div>
</section>
	<section class="m-cv-jobs">
	<div class="m-container">
		<div class="m-cv-job">
			<div class="m-cv-job__content">
				<h3 class="m-cv-job__company-name">Superinteractive</h3> <h3 class="m-cv-job__company-time-span">2016 — present</h3>
			</div>
			<div class="m-cv-job__content">
				<h4 class="m-cv-job__company-function">Front-end Developer</h4>
				<div class="m-cv-job__description">
					<p>
						At Superinteractive, at which I'm the only front-ender, I'm responsible for implementing new features into existing projects and building projects from the ground.
					</p>

					<p>I'm also responsible for the Front-end workflow. Our current setup is a yarn based setup to load the right dependencies.</p>
				</div>
			</div>
		</div>
		<div class="m-cv-job">
			<div class="m-cv-job__content">
				<h3 class="m-cv-job__company-name">Brons &amp; Ten Kate</h3> <h3 class="m-cv-job__company-time-span">2016 — 2016 (3 months)</h3>
			</div>
			<div class="m-cv-job__content">
				<h4 class="m-cv-job__company-function">Front-end Developer</h4>
				<div class="m-cv-job__description">
					<p>
						Brons &amp; Ten Kate is a company that specialises in medical content websites. They make a lot of content based websites. These website needed support from IE8 + due the audience of the website.
					</p>
				</div>
			</div>
		</div>

		<div class="m-cv-job">
			<div class="m-cv-job__content">
				<h3 class="m-cv-job__company-name">Label A</h3> <h3 class="m-cv-job__company-time-span">2014 — 2016</h3>
			</div>
			<div class="m-cv-job__content">
				<h4 class="m-cv-job__company-function">Design / Front-end Developer</h4>
				<div class="m-cv-job__description">

					<p>In my two years at Label A I worked as a designer and front-end developer. In my first 6 month internship I started out as a designer, and switched to front-end 3 months in my internship.</p>

					<p>At Label A I was responsible for connecting the plain HTML templates into the Mura CMS. This was done in the language Coldfusion, an old legacy language from Adobe</p>
				</div>
			</div>
		</div>

		<div class="m-cv-job">
			<div class="m-cv-job__content">
				<h3 class="m-cv-job__company-name">Frappant</h3> <h3 class="m-cv-job__company-time-span">2013 — 2013 (6 months)</h3>
			</div>
			<div class="m-cv-job__content">
				<h4 class="m-cv-job__company-function">Back-end Intern</h4>
				<div class="m-cv-job__description">
					<p>
						At my first development internship I was responsible for creating an application in which the company could archive their finished projects.
					</p>

					<p>The result was an application which was build in ASP.NET. They were able to look up invoices, project resources and briefings.</p>
				</div>
			</div>
		</div>
	</div>
</section>
</section>